<!--<router-outlet></router-outlet> est une balise spéciale Angular

Elle dit à Angular : “affiche ici le composant lié à la route actuelle”

C’est obligatoire si tu veux que le routing (/categories, /categorie/:id, etc.) fonctionne.

Résultat attendu
Maintenant :

Aller sur /categories ➜ affiche CategoryListComponent

Aller sur /categorie/2 ➜ affiche ProduitListComponent

Redirection / ➜ vers /categories
-->
<div class="page-container">
  <header class="site-header">
    <h1 class="site-title">TShirtShop</h1>
  </header>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <p>© 2025 TShirtShop. Tous droits réservés.</p>
  </footer>
</div>



