<h2 class="text-center my-4">Produits de la catégorie {{ idCategorie }}</h2>

<!-- Bouton de retour -->
<a routerLink="/categories" class="btn btn-secondary ms-3 mb-3">⬅ Retour aux catégories</a>

<!-- Message si aucun produit trouvé -->
<div *ngIf="aucunProduit">
  <p class="message-important">Aucun produit pour cette catégorie.</p>
</div>

<!-- Bouton visible uniquement pour l'admin -->
<div *ngIf="isAdmin" class="text-end me-4">
  <a routerLink="/AddProduct" class="btn btn-success mb-4">➕ Ajouter un produit</a>
</div>

<!-- Liste des produits -->
<div *ngIf="!aucunProduit" class="produit-container">
  <div *ngFor="let produit of produits" class="produit-card d-flex flex-column" [title]="produit.description">
    <img [src]="produit.imageUrl" alt="{{produit.name}}" class="produit-image">
    
    <div class="produit-texte">
      <h5 class="mt-3">{{ produit.name }}</h5>
      <p><strong>Marque :</strong> {{ produit.brand }}</p>
      <p><strong>Prix :</strong> {{ produit.price }} €</p>
    </div>

    <a [routerLink]="['/produit', produit.id]">Voir les détails</a>

    <button [routerLink]="['/edit-product', produit.id]">✏️ Modifier</button>

    <button (click)="deleteProduct(produit.id)">🗑️ Supprimer</button>

    <button (click)="ajouterAuPanier(produit)">🛒 Ajouter au panier</button>
  </div>
</div>
