<h2>🛒 Mon Panier</h2>

<div *ngIf="produitsDansPanier.length === 0">
  <p>Ton panier est vide pour le moment.</p>
</div>

<table *ngIf="produitsDansPanier.length > 0" class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Quantité</th>
      <th>Prix unitaire</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of produitsDansPanier">
      <td>
        <a [routerLink]="['/produit', item.produit.id]">
          {{ item.produit.name }}
        </a>
      </td>
      <td>
  <button (click)="diminuer(item.produit.id)">➖</button>
  {{ item.quantite }}
  <button 
  (click)="augmenter(item.produit.id)" 
  [disabled]="item.quantite >= item.produit.quantiteStock">
  ➕
</button>
<div *ngIf="item.quantite >= item.produit.quantiteStock" class="stock-max">
  🔴 Stock maximum atteint
</div>
<!-- Exemple dans une ligne de tableau ou dans une fiche produit -->
<button (click)="supprimer(item.produit.id)">🗑️</button>
</td>

      <td>{{ item.produit.price }} €</td>
      <td>{{ item.produit.price * item.quantite | number:'1.2-2' }} €</td>
    </tr>
  </tbody>
</table>

<h3 *ngIf="produitsDansPanier.length > 0">
  🧾 Total : {{ totalPanier | number:'1.2-2' }} €
</h3>

<br/>

<button [disabled]="produitsDansPanier.length === 0"
        (click)="validerCommande()">
  🏁 Passer au paiement
</button>
<button [disabled]="produitsDansPanier.length === 0"  (click)="payerAvecStripe()">💳 Payer avec Stripe</button>
