<h2>Créer un compte</h2>

<form (ngSubmit)="onSubmit()">
  <label>Prénom :</label>
  <input type="text" [(ngModel)]="firstName" name="firstName" required />

  <label>Nom :</label>
  <input type="text" [(ngModel)]="lastName" name="lastName" required />

  <label>Adresse :</label>
  <input type="text" [(ngModel)]="adresse" name="adresse" required />

  <label>Code postal :</label>
  <input type="text" [(ngModel)]="codePostal" name="codePostal" required />

  <label>Ville :</label>
  <input type="text" [(ngModel)]="ville" name="ville" required />

  <label>Email :</label>
  <input type="email" [(ngModel)]="email" name="email" required />

  <label>Mot de passe :</label>
  <input type="password" [(ngModel)]="password" name="password" required />

  <button type="submit">S’inscrire</button>
</form>

<p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
<p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
