<h2>Modifier mes informations</h2>

<form (ngSubmit)="onSubmit()">
  <label>Nom :</label>
  <input type="text" [(ngModel)]="name" name="name" required />

  <label>Email :</label>
  <input type="email" [(ngModel)]="email" name="email" required />

  <label>Password :</label>
  <input type="password" [(ngModel)]="password" name="password" required />

  <button type="submit">Sauvegarder</button>
</form>

<p *ngIf="successMessage" style="color: green;">{{ successMessage }}</p>
<p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
